.container_inner {
        width:960px;
        height:800px;
        margin:0 auto;
        /* border:1px solid red; */
}

/* 左边侧边导航栏部分 */
.left-dir {
    float:left;
    margin:10px 0px 0px 0px;
    width:200px;
    /* border:1px solid red; */
}

.title {
    height:50px;
    text-align:center;
    line-height:50px;
    background:green;
    /* border:1px solid grey; */
    color:#fff;
}

.left-dir ul {
    padding-left:0px;
    text-align:center;
    margin:0px;
}

.left-dir li {
    height:30px;
    line-height:30px;
    /* border:1px solid green; */
    background:#d9dad9;
    list-style:none;
}

.left-dir a {
    color:#252424;
    text-decoration:none;
}


/* 右边新闻列表 */
.right_desc {
    float:right;
    margin:10px 0px 0px 0px;
    width:750px;
    height:700px;
    border:1px solid #cadae7;
    background:#fff;
}

.title_top {
    height:50px;
    line-height:50px;
    border-bottom:1px solid grey;
    margin-left:10px;
}

.list_top a {
    color:green;
    font-size:14px;
    text-decoration:none;
}

.list_top span {
    display:block;
    float:right;
    margin-right:15px;
    color:#aaa;
    font-size:12px;
}

.list_top p {
    font-size:12px;
    color:#aaa;
}