.container_overview{
        width:960px;
        height:800px;
        margin:0 auto;
        border:1px solid red;
}

.dir {
    float:left;
    margin:10px 0px 0px 50px;
    width:200px;
    /* border:1px solid red; */
}

.title {
    height:50px;
    text-align:center;
    line-height:50px;
    background:green;
    color:#fff;
}

.dir ul {
    padding-left:0px;
    text-align:center;
    margin:0px;
}

.dir li {
    height:30px;
    line-height:30px;
    /* border:1px solid green; */
    background:#d9dad9;
}

.dir a {
    color:#252424;
}

.desc{
    float:right;
    margin:10px 30px 0px 0px;
    width:600px;
    height:400px;
    /* border:1px solid red; */
}