{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>绿碳世界</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
    <link rel="stylesheet" href="{% static 'css/news_content.css' %}">
</head>


<body>

<!--网站logo，带搜索框部分。-->
<div>
    <div class="container">
        <img class="top" src="{% static 'img/nd85.png' %}">
        <div class="search">
            <input style="width:210px;height:25px" type="text" maxlength='60' size="22" value="浙碳 碳达峰 碳中和"/>
            <input type="button" value="搜索">
        </div>
    </div>
</div>



<!-- 导航栏板块 -->
<div style="height:53px;background-color:#13bd13;box-shadow:1px 1px grey;">
    <div class="nav">

        <div class="button">
            <a href="/" style="text-decoration:none">首页</a>
        </div>

        <div class="button">浙碳新闻
            <ul class="droplist">
                <li><a href="news/article_list">公司要闻</a></li>
                <li><a href="news/article_list">行业新闻</a></li>
                <li><a href="news/article_list">通知公告</a></li>
            </ul>
        </div>

        <div class="button">浙碳业务
<!--            <ul class="droplist">-->
<!--                <li><a href="#">低碳技术服务</a></li>-->
<!--                <li><a href="#">低碳资产开发</a></li>-->
<!--                <li><a href="#">低碳资讯服务</a></li>-->
<!--                <li><a href="#">低碳培训服务</a></li>-->
<!--            </ul>-->
        </div>

        <div class="button">浙碳视角
<!--            <ul class="droplist">-->
<!--                <li><a href="#">国际行情</a></li>-->
<!--                <li><a href="#">国内行情</a></li>-->
<!--            </ul>-->
        </div>

        <div class="button">人才招聘
<!--            <ul class="droplist">-->
<!--                <li><a href="#">联系我们</a></li>-->
<!--                <li><a href="#">欢迎加入</a></li>-->
<!--            </ul>-->
        </div>

        <div class="button">关于我们
<!--            <ul class="droplist">-->
<!--                <li><a href="#">公司简介</a></li>-->
<!--                <li><a href="#">荣誉资质</a></li>-->
<!--            </ul>-->
        </div>

    </div>
</div>



<!-- 图片居中的第二种做法-->
<!--
<div class="pic">
    <img src="static/img/ba1.jpg" width="1000" height="280"/>
</div>
-->

<!--图片居中的第二种做法-->
<div align="center">
    <img src="static/img/ba1.jpg" height="310" width="960" style="margin-top:2px;">
</div>

<!--图片底部有空白和一条横线-->
<div style="height:10px"></div>
<div style="height:1px;border-top:solid #adadad 1px"></div>

{% block content %}
<!--主要文章的板块-->
<!--文章内部还要再嵌套模块-->
<div>
    <div style="width:970px; margin:0 auto;">
        <!-- 这是第一列！-->
        <div style="margin-top:4px; float:left; width:320px; height:300px; text-align:center; background:#e1e1e1; border:1px solid #aba6a6;">
            <div style="float:left;margin-left:10px">浙碳新闻</div>
            <div style="float:right;margin-right:10px;font-size:14px">
                <a href="news/article_list">更多</a>
            </div>
            <!-- 这是面板主要内容——新闻列表！-->
            <div style="margin-top:50px">
                <img src="static/img/qr.png" style="width:200px">
            </div>
            <div>
            <ul style="font-size:13px; margin-top:10px; list-style-type: none;">
                    <li>
                        EU ETS与《碳中和概论》教材：迈向..  [2023-11-03]
                    </li>
            </ul>
        </div>
        </div>
        <!-- 这是第二列！-->
        <div style="margin-top:4px; float:left; width:320px; height:300px; text-align:center; background:#e1e1e1; border:1px solid #aba6a6;">
            <div style="float:left;margin-left:10px">项目业绩及案例</div>
            <div style="float:right;margin-right:10px;font-size:14px">更多</div>
            <div>
                <ul style="list-style:none; padding-left:0px; margin-top:60px; font-size:13px">
                    <li>
                        2016 年参与举办了杭州"G20 峰会 碳中和"项目
                    </li>
                    <li>
                        <img style="margin-top:10px" src="static/img/g20.png" height="157" width="251">
                    </li>
                </ul>
            </div>
        </div>

        <!-- 这是第三列！-->
        <div style="margin-top:4px; float:left; width:320px; height:300px; text-align:center; background:#e1e1e1; border:1px solid #aba6a6;">
            <div style="float:left;margin-left:10px">碳汇头条</div>
            <div style="float:right;margin-right:10px;font-size:14px"></div>

            <div>
                <ul style="list-style:none; padding-left:0px; margin-top:60px; font-size:13px">
                    <li>
                        <img src="static/img/logo1.png" height="100" width="100">
                    </li>
                    <li>
                        上碳汇头条，掌握最新绿碳行业资讯！
                    </li>
                    <li>
                        <a href="http://www.zjtanhui.com/" target="blank">点击此处查看应用介绍</a>
                    </li>
                    <li>
                        <a href="http://fir.hdlkeji.com/zr4w" target="blank">点击此处下载应用</a>
                    </li>
                </ul>
            </div>
        </div>

        <div style="clear:both"></div>
</div>




{% endblock %}

<!--倒数第二部分 黑色block板块-->
<div style="background:black; height:250px; margin-top:10px">
    <div class="container_bottom" style="width:1005px; margin:0 auto">
        <div class="title_02" style="width:250px; border:1px solid red">
            <h3>走进浙碳</h3>
            <div style="margin-top:45px; font-size:13px">
                <span>公司概况</span>
                <span style="margin-left:70px">核心团队</span>
            </div>
        </div>
        <div class="title_02" style="width:250px">
            <h3>新闻中心</h3>
            <div style="margin-top:45px; font-size:13px">
                <span>浙碳要闻</span>
                <span style="margin-left:70px">浙碳聚集</span>
                <div>浙碳视角</div>
            </div>
        </div>
        <div class="title_02" style="width:250px">
            <h3>主营业务</h3>
            <div style="margin-top:45px; font-size:13px">碳中和服务</div>
            <div style="font-size:13px">政府采购服务类（省/市/县/区）</div>
            <div style="font-size:13px">企业采购服务类</div>
        </div>
        <div class="title_02" style="width:250px; border:1px solid red">
            <h3>联系我们</h3>
            <div style="font-size:13px">
                地址：杭州市江干区天城路68号万事利集团科技大厦2幢1113－1114室<br>
                邮箱：xlswnd@foxmail.com<br>
                手机：13905708225<br>
                公众号：绿碳世界<br>
            </div>
        </div>

    </div>
</div>

<div style="clear:both"></div>
<!--倒数第一部分 备案板块-->
<div style="background:#666;height:32px;color:white;line-height:32px;text-align:center; font-size:13px">
    Copyright © 2009-2015 浙江碳汇资产管理有限公司 All Rights Reserved   网站备案号：浙ICP备17033514号-1
</div>

</body>
</html>
